body, html { 
    margin: 0; padding: 0; height: 100%; 
    background-color: #1a1d21; 
    overflow: hidden; 
}

#map { 
    width: 100%; height: 100vh; 
    background-color: #1a1d21; 
}

/* Стиль подсказок */
.leaflet-tooltip-own {
    background-color: rgba(20, 24, 28, 0.95);
    border: 1px solid #4b5563;
    color: white;
    font-size: 13px;
    padding: 5px 10px;
    border-radius: 4px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.5);
}

.leaflet-tooltip-left:before, .leaflet-tooltip-right:before { display: none; }

/* Плавная смена цвета */
path { 
    outline: none; 
    transition: fill 0.3s ease; 
}